[submodule "3rdParty/log"]
	path = 3rdParty/boostlog
	url = https://gitee.com/digital-media-1805/boost-log
[submodule "3rdParty/njson"]
	path = 3rdParty/njson
	url = https://gitee.com/digital-media-1805/njson
