[submodule "3rdParty/njson"]
	path = 3rdParty/njson
	url = https://gitee.com/digital-media-1805/njson
[submodule "3rdParty/spdlog"]
	path = 3rdParty/spdlog
	url = https://gitee.com/digital-media-1805/spdlog
